location = /version.js {
    add_header Content-Type  "application/javascript; charset=utf-8" always;
    add_header Cache-Control "no-store" always;
    return 200 "window.APP_VERSION='${APP_VERSION}';";
}
